.creative-image {
	padding:.5em;
	border:1px solid #ccc;
}

.creative-comments {
	padding:.5em;
	border:1px solid #ccc;
	margin-bottom:.5em;
}

.creative-info {
	padding:.5em;
	border:1px solid #ccc;
	margin-bottom:.5em;
}

.comment {
	padding:.5em;
	font-size:12px;
	border-bottom: 1px solid #ccc;
}

.last {
	border-bottom:0;
}